body {
    background-color: #FFFFFF;
    color: #DC143C;
    font-family: "Courier New", monospace;
    text-align: center;
    /* Distorted Checkerboard */
    background-image:
        linear-gradient(45deg, #DC143C 25%, transparent 25%, transparent 75%, #DC143C 75%, #DC143C),
        linear-gradient(45deg, #DC143C 25%, transparent 25%, transparent 75%, #DC143C 75%, #DC143C);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.container {
    background: #00FF00;
    /* Clashing Green */
    color: #DC143C;
    width: 80%;
    margin: 20px auto;
    border: 15px double #0000FF;
    padding: 20px;
    box-shadow: 10px 10px 0px #FF00FF;
    transform: rotate(2deg);
}

.main-title {
    font-size: 5rem;
    color: #FFFFFF;
    text-shadow: 5px 5px #DC143C, 10px 10px #000000;
    font-style: italic;
    animation: swing 0.5s infinite ease-in-out;
}

@keyframes swing {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.subtitle {
    font-size: 3rem;
    color: #FFFF00;
    background: #DC143C;
    border-radius: 50px;
    padding: 20px;
    display: inline-block;
    border: 5px solid #0000FF;
}

.blink {
    animation: blinker 0.3s linear infinite;
    color: #00FF00;
    background: #DC143C;
    font-weight: bold;
    font-size: 3rem;
    padding: 10px;
    border: 10px dotted #FFFF00;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }
}

button#pierogi-btn {
    background: radial-gradient(circle, #FFFFFF, #DC143C);
    color: #000000;
    padding: 30px 60px;
    font-size: 3rem;
    border: 10px solid #00FF00;
    cursor: pointer;
    font-family: "Courier New", monospace;
    border-radius: 100px;
}

button#pierogi-btn:hover {
    background: #000000;
    color: #FFFFFF;
    transform: rotate(180deg);
}

.marquee-container {
    background: #DC143C;
    color: #FFFFFF;
    font-size: 3rem;
    border: 10px solid #00FF00;
    font-weight: bold;
}

table {
    background: #FFFF00;
    border: 10px solid #DC143C;
    font-size: 2rem;
    color: #0000FF;
}

a {
    color: #DC143C;
    text-decoration: underline;
    font-weight: bold;
    background: #FFFFFF;
}

a:hover {
    background: #DC143C;
    color: #FFFFFF;
    font-size: 2.5rem;
}